<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input
      [(ngModel)]="loginDto.email"
      type="email"
      id="form2Example1"
      name="emailInput"
      class="form-control"
    />
    <div *ngIf="emailErrors != ''" class="errors-div">
      {{ emailErrors }}
    </div>
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input
      [(ngModel)]="loginDto.password"
      name="passwordInput"
      type="password"
      id="form2Example2"
      class="form-control"
    />
    <div *ngIf="passwordErrors != ''" class="errors-div">
      {{ passwordErrors }}
    </div>
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <button
    (click)="signIn()"
    type="button"
    class="btn btn-primary btn-block mb-4"
  >
    Sign in
  </button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a routerLink="/register">Register</a></p>
  </div>
</form>
