<advertisement-filtering></advertisement-filtering>>
<button
  (click)="loadAdvertisements()"
  type="button"
  class="btn btn-primary btn-block mb-4"
>
  Load advertisements
</button>
<div class="page=info">
    
</div>
<div class="ads">
  <ul>
    <li *ngFor="let ad of page?.items">
      <div class="ad-container">
        <div class="title">
          {{ ad.title }}
        </div>
        <div class="price">
          {{ ad.pricePerHour }}
        </div>
      </div>
    </li>
  </ul>
</div>
