.ad-container{
    min-width: 200px;
    height: 150px;
    border-radius: 20px;
    background-color: rgb(223, 245, 252);
    margin: 20px;
    transition: transform 0.2s ease-in-out;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr 1fr;
    gap: 10px;
}

.ad-container:hover{
    transform: scale(1.05);
    cursor: pointer;
}

ul{
    list-style-type: none;
}

.title{
    color: orange;
    font-size: 30px;
    grid-row: 1;
    grid-column: 1;
    padding: 20px;
}

.price{
    color: orange;
    font-size: 60px;
    grid-column: 2;
    grid-row: 1 / span2;
}